body {
    background-image: url('4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

button {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #296a73;
    height: 20px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

img {
  display: block;
  margin: 0 auto;
}

a {
   color: inherit;
   text-decoration: none;
}


