
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_2.css'%}">
</head>
<body>
    <header>
        {% block pagename %}
        <h1>{{ text }}</h1>
        {% endblock %}
     </header>
    <nav>
        {% block menu %}
        <h2>
            <br>
            <br>
            <br>
            <a href="#">Главная</a>
            <br>
            <a href="/platform/games">Магазин</a>
            <br>
            <a href="/platform/cart">Корзина</a>
         </h2>
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        <ul>
        {% for I in games.games %}
        <li><h3>{{I}}</h3><button>Купить</button> </li>
        {% endfor %}
    </ul>
        {% endblock %}
    </main>

</body>
</html>