<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_2.css'%}">
</head>
<body>
<br>
<br>
<br>
<h1> Добро пожаловать в магазин игр</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>
         <a href="/entrance_by_django">Вход для зарегистрированных пользователей</a>
    <br>
    <br>
         <a href="/sign_up_by_django">Регистрация</a>
</h2>

</body>
