
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_2.css'%}">
</head>
<body>
    <header>
        {% block pagename %}
        <h1>{{ text }}</h1>
        {% endblock %}
     </header>
    <nav>
        {% block menu %}
        <h2>
            <br>
            <a href="/platform">Главная</a>
            <br>
            <a href="/platform/games">Магазин</a>
            <br>
            <a href="/platform/cart">Корзина</a>
         </h2>
        {% endblock %}
        <br>
    </nav>
    <main>
        {% block content %}
        <ul>
        {% for game in games %}
        <li><h3>{{game.title}}|{{game.description}}|Стоимость: <mark>{{game.cost}}</mark></h3>  <button>Купить</button></li>
        {% endfor %}
        </ul>

        {% endblock %}
    </main>

</body>
</html>