
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body bgcolor="pink" >
    <h1 align="center">
    {{text}}
    </h1>
    <br>
    <ul>
        <li><h3>{{games.first}}</h3><button>Купить</button> </li>
        <li><h3>{{games.second}}</h3><button>Купить</button></li>
        <li><h3>{{games.third}}</h3><button>Купить</button></li>
    </ul>
    <br>
    <h2 align="center">
    <button>
    <a href="/platform/" >На главную</a>
    </button>
    </h2>
</body>
</html>